body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

/*header - icons*/
header {
  background-color: #013580;
}

.icon-grid {
  display: grid;
  grid-template-columns: minmax(200px, 5fr) 70px 70px;
  padding-top: 10px;
  align-items: center;
  /*hover*/
}
.icon-grid .logo {
  width: 150px;
  padding-left: 10px;
}
.icon-grid .user {
  width: 30px;
}
.icon-grid .menu {
  width: 20px;
  display: flex;
  justify-self: center;
}
.icon-grid a:not(.logo) {
  padding: 10px 10px;
  display: flex;
  justify-self: center;
}
.icon-grid .menu-link:hover {
  background-color: #1e498d;
}
.icon-grid .user-link:hover {
  background-color: #1e498d;
}

/*header - menu bar*/
.menu-bar {
  background-color: #013580;
  overflow-x: scroll;
}
.menu-bar ul {
  width: 865px;
  /*hover*/
}
.menu-bar ul a:not(.stays) {
  border-radius: 30px;
  padding: 12px 15px;
}
.menu-bar ul a:hover {
  background-color: #1e498d;
}
.menu-bar li {
  list-style: none;
  display: inline-block;
}
.menu-bar li img {
  width: 20px;
  margin-right: 10px;
}
.menu-bar li a {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
}
.menu-bar li .stays {
  background-color: #1e498d;
  border: solid 1px #f5f5f5;
  border-radius: 30px;
  padding: 12px 15px;
}

/*main - search*/
main {
  background-color: #f5f5f5;
}

.search {
  margin-left: 20px;
  margin-right: 20px;
}
.search h1 {
  margin-top: 0;
  padding-top: 30px;
  font-size: 27px;
}
.search p {
  margin-top: -13px;
}

/*main - form*/
.form-grid {
  margin-top: 35px;
  margin-bottom: 20px;
  background-color: #febb00;
  border: solid 8px #febb00;
  border-radius: 3px;
  align-items: center;
  /*main - grid*/
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, 58px);
  row-gap: 8px;
  grid-template-areas: "location location location location location location" "in in in out out out" "adult adult children children rooms rooms" "work work work work work work" "submit submit submit submit submit submit";
}
.form-grid .location {
  background-color: #ffffff;
  grid-area: location;
  display: flex;
  align-items: center;
}
.form-grid .location .search-icon {
  margin-left: 10px;
  margin-right: 10px;
  width: 20px;
}
.form-grid .location input {
  border: none;
  width: 100%;
  height: 58px;
}
.form-grid .in {
  background-color: #ffffff;
  grid-area: in;
  display: flex;
  align-items: center;
  display: grid;
  height: 58px;
  margin-right: 5px;
  /*internal grid*/
  grid-template-rows: repeat(2, auto);
}
.form-grid .in label {
  margin-left: 5px;
}
.form-grid .in button {
  border-style: none;
  background-color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  justify-items: flex-start;
}
.form-grid .out {
  background-color: #ffffff;
  grid-area: out;
  display: flex;
  align-items: center;
  display: grid;
  height: 58px;
  /*internal grid*/
  grid-template-rows: repeat(2, auto);
}
.form-grid .out label {
  margin-left: 5px;
}
.form-grid .out button {
  border-style: none;
  background-color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  justify-items: flex-start;
}
.form-grid .adults {
  background-color: #ffffff;
  grid-area: adult;
  display: flex;
  align-items: center;
  display: grid;
  height: 58px;
  /*internal grid*/
  grid-template-rows: repeat(2, auto);
}
.form-grid .adults label {
  margin-left: 5px;
}
.form-grid .adults button {
  border-style: none;
  background-color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  justify-items: flex-start;
  margin-left: 3px;
}
.form-grid .children {
  background-color: #ffffff;
  grid-area: children;
  display: flex;
  align-items: center;
  display: grid;
  height: 58px;
  border-left: solid 1px rgb(204, 204, 204);
  /*internal grid*/
  grid-template-rows: repeat(2, auto);
}
.form-grid .children label {
  margin-left: 5px;
}
.form-grid .children button {
  border-style: none;
  background-color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  justify-items: flex-start;
  margin-left: 3px;
}
.form-grid .rooms {
  background-color: #ffffff;
  grid-area: rooms;
  display: flex;
  align-items: center;
  display: grid;
  height: 58px;
  border-left: solid 1px rgb(204, 204, 204);
  /*internal grid*/
  grid-template-rows: repeat(2, auto);
}
.form-grid .rooms label {
  margin-left: 5px;
}
.form-grid .rooms button {
  border-style: none;
  background-color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  justify-items: flex-start;
  margin-left: 3px;
}
.form-grid .work {
  background-color: #ffffff;
  height: 58px;
  grid-area: work;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.form-grid .work input {
  border: none;
  padding-top: 5px;
  scale: 1.7;
  margin-left: 15px;
}
.form-grid .work label {
  margin: 12px;
}
.form-grid .submit {
  grid-area: submit;
  display: flex;
  align-items: center;
}
.form-grid .submit button {
  border-style: none;
  background-color: #0071c2;
  color: #ffffff;
  width: 100%;
  height: 58px;
  font-size: 22px;
  font-weight: 500;
  text-shadow: 0px 1px 0px black;
}
.form-grid input::-moz-placeholder {
  font-size: 17px;
  font-weight: bold;
  opacity: 1;
  color: black;
}
.form-grid input:-ms-input-placeholder {
  font-size: 17px;
  font-weight: bold;
  opacity: 1;
  color: black;
}
.form-grid input::placeholder,
.form-grid input[type=text],
.form-grid input[type=number] {
  font-size: 17px;
  font-weight: bold;
  opacity: 1;
  color: black;
}

/*only for desktop - hide in mobile version*/
.work-for-desktop {
  display: none;
}

/*main - covid*/
.covid {
  background-color: #ffffff;
  border: solid 1px rgb(204, 204, 204);
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-style: none;
  /*main - covid- grid*/
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
}
.covid .info-icon {
  width: 20px;
  margin-left: 15px;
}
.covid .arrow-icon {
  width: 10px;
  display: flex;
  justify-self: end;
  margin-right: 15px;
}
.covid p {
  font-size: 15px;
  color: #262626;
}

/*only for desktop - hide in mobile version*/
.promo-for-desktop {
  display: none;
}

/*main - promo*/
.promo {
  background-color: #ffffff;
  border-top: solid 1px rgb(204, 204, 204);
  border-bottom: solid 1px rgb(204, 204, 204);
  margin-bottom: 20px;
  /*main - promo - grid*/
  display: grid;
  grid-template-columns: 1fr 3fr;
}
.promo .deals,
.promo .plane,
.promo .extended {
  margin-top: 10px;
  margin-bottom: 30px;
}
.promo h2 {
  font-size: 17px;
  color: #262626;
  margin-bottom: -5px;
}
.promo p {
  font-size: 14px;
  color: #262626;
  margin-bottom: 25px;
  line-height: 20px;
}
.promo img {
  width: 70px;
  height: 70px;
  margin-top: 20px;
  margin-left: 20px;
}
.promo a {
  text-decoration: none;
  font-size: 14px;
  color: #0071c2;
  border: solid 1px #0071c2;
  border-radius: 3px;
  padding: 10px;
}

/*main - thoughts - grid*/
.thoughts {
  background-color: #ffffff;
  border-top: solid 1px rgb(204, 204, 204);
  border-bottom: solid 1px rgb(204, 204, 204);
  /*main - promo - grid*/
  display: grid;
  grid-template-columns: 1fr 3fr;
}
.thoughts .share {
  margin-top: 10px;
  margin-bottom: 30px;
}
.thoughts img {
  width: 120px;
  margin-left: 25px;
  margin-top: 15px;
  margin-right: 15px;
}
.thoughts h2 {
  font-size: 17px;
  color: #262626;
  margin-bottom: -5px;
}
.thoughts p {
  font-size: 14px;
  color: #262626;
  margin-bottom: 25px;
  line-height: 20px;
}
.thoughts a {
  text-decoration: none;
  font-size: 14px;
  color: #0071c2;
  border: solid 1px #0071c2;
  border-radius: 3px;
  padding: 10px;
}

.overlay {
  background-color: #ffffff;
  padding-left: 20px;
  padding-top: 50px;
  cursor: default;
  width: 100vw;
  height: 100vh;
  /*location of overlay*/
  position: fixed;
  top: 0px;
  left: 0;
  overflow: scroll;
  display: none;
}
.overlay h3 {
  font-size: 15px;
}
.overlay div {
  color: black;
  display: block;
  padding: 15px 24px;
  font-size: 15px;
}
.overlay .other-page {
  cursor: pointer;
}

/*action of overlay*/
.menu-link:focus-within .overlay {
  display: initial;
  z-index: 1;
}

.close-icon {
  height: 55px;
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  visibility: hidden;
  display: flex;
  justify-content: flex-end;
  z-index: 2;
}
.close-icon img {
  width: 15px;
  cursor: pointer;
  margin-top: 19px;
  margin-right: 21px;
}

.menu-link:focus-within + .close-icon {
  visibility: visible;
}

@media screen and (min-width: 550px) {
  /*header*/
  .icon-grid,
.menu-bar {
    margin-left: 10%;
    margin-right: 10%;
    background-color: #013580;
  }
  .icon-grid a:not(.logo) {
    padding: 10px 0px;
  }
  .icon-grid .logo {
    padding-left: 0px;
  }
  .menu-bar ul {
    padding: 0px 0px;
  }
  main {
    background-color: #ffffff;
  }
  /*main*/
  .desktop-bg {
    background: linear-gradient(to bottom, #013580 0%, #013580 88%, #ffffff 88%, #ffffff 100%);
  }
  .search {
    margin-left: 10%;
    margin-right: 10%;
  }
  .search h1 {
    color: #ffffff;
    margin-top: 0;
    padding-top: 70px;
    font-size: 45px;
  }
  .search p {
    color: #ffffff;
    margin-top: -20px;
    font-size: 23px;
  }
  .for-desktop-bg {
    background-color: #ffffff;
    margin-top: 10px;
  }
  .covid {
    background-color: #ffffff;
    border: solid 1px rgb(204, 204, 204);
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-style: none;
  }
  .covid .info-icon {
    width: 20px;
    margin-left: 15px;
  }
  .covid .arrow-icon {
    width: 10px;
    display: flex;
    justify-self: end;
    margin-right: 15px;
  }
  .covid p {
    font-size: 15px;
    color: #262626;
  }
  .form-grid {
    box-shadow: 0px 2px 3px rgb(158, 158, 158);
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(1, 58px);
    grid-template-areas: "location location location in out adult children rooms submit";
    margin-top: 35px;
    margin-bottom: 8px;
    background-color: #febb00;
    border: solid 5px #febb00;
    border-radius: 3px;
    align-items: center;
  }
  .form-grid .work {
    display: none;
  }
  .form-grid .location {
    border-right: solid 5px #febb00;
  }
  .form-grid .location input {
    width: 100%;
    height: 56px;
  }
  .form-grid .in {
    margin-right: 0px;
    /*internal grid*/
    grid-template-rows: repeat(1, auto);
  }
  .form-grid .in label {
    margin-left: 0px;
    display: flex;
    justify-content: center;
  }
  .form-grid .in button {
    display: none;
  }
  .form-grid .out {
    border-right: solid 5px #febb00;
    /*internal grid*/
    grid-template-rows: repeat(1, auto);
  }
  .form-grid .out label {
    margin-left: 0px;
    display: flex;
    justify-content: center;
  }
  .form-grid .out button {
    display: none;
  }
  .form-grid .submit {
    border-left: solid 5px #febb00;
  }
  .form-grid .adults,
.form-grid .children,
.form-grid .rooms {
    /*internal grid*/
    grid-template-rows: repeat(1, auto);
    grid-template-columns: repeat(2, auto);
    border-left: none;
  }
  .form-grid .adults label,
.form-grid .children label,
.form-grid .rooms label {
    display: flex;
    justify-content: center;
  }
  .form-grid .adults button,
.form-grid .children button,
.form-grid .rooms button {
    font-weight: normal;
    font-size: 14px;
  }
  .form-grid input::-moz-placeholder {
    font-size: 17px;
    font-weight: normal;
    opacity: 1;
    color: black;
  }
  .form-grid input:-ms-input-placeholder {
    font-size: 17px;
    font-weight: normal;
    opacity: 1;
    color: black;
  }
  .form-grid input::placeholder,
.form-grid input[type=text],
.form-grid input[type=number] {
    font-size: 17px;
    font-weight: normal;
    opacity: 1;
    color: black;
  }
  /*only for desktop - hide in mobile version*/
  .work-for-desktop {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .work-for-desktop input {
    border: none;
    padding-top: 5px;
    scale: 1.7;
    margin-left: 15px;
  }
  .work-for-desktop label {
    margin: 12px;
    font-size: 15px;
  }
  .desktop-bg-margin {
    margin-left: 10%;
    margin-right: 10%;
  }
  .promo-for-desktop {
    display: initial;
  }
  .promo-for-desktop p {
    color: #858585;
    margin-top: -10px;
  }
  .covid {
    margin-top: 35px;
    margin-left: 0px;
    margin-right: 0px;
    /*main - covid- grid*/
    display: grid;
    grid-template-columns: 1fr 12fr 1fr;
  }
  .covid .info-icon {
    background-color: #fef0e0;
    margin: 15px;
    padding: 10px;
  }
  .promo-2,
.promo-3 {
    display: none;
  }
  .promo-1 {
    /*main - promo - grid*/
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    background-image: url(assets/men-hiking.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .promo-1 .deals {
    margin-top: 30px;
    margin-left: 15px;
    margin-bottom: 50px;
  }
  .promo-1 h2,
.promo-1 p {
    color: #ffffff;
  }
  .promo-1 img {
    display: none;
  }
  .promo-1 a {
    background-color: #0071c2;
    color: #ffffff;
  }
  /*main - thoughts - grid*/
  .thoughts {
    margin-top: 50px;
    border: solid 1px rgb(204, 204, 204);
    /*main - promo - grid*/
    display: grid;
    grid-template-columns: 1fr 5fr;
    margin-bottom: 20px;
  }
  .thoughts p {
    font-size: 17px;
  }
  .thoughts a {
    font-size: 16px;
  }
}/*# sourceMappingURL=styles.css.map */